<!DOCTYPE html>
<meta charset="utf-8">

<style>
	body {
		padding-left: 40px;
		padding-right: 50px;
	}
	.center{
		margin:auto;
	}

</style>

</meta>

<html>
	<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
		<!--Load the AJAX API-->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">

			// Load the Visualization API and the piechart package.
			google.load('visualization', '1.0', {'packages':['corechart']});

			// Callback to run when the Google Visualization API is loaded.
			google.setOnLoadCallback(drawChart);

			function request(method, path, cb, body) {
					var xmlhttp = new XMLHttpRequest();
					xmlhttp.onreadystatechange=function() {
							if (xmlhttp.readyState==4) {
									cb(xmlhttp.responseText, xmlhttp.status >= 400);
							}
					};

					xmlhttp.open(method, path, true);
					xmlhttp.setRequestHeader("Content-type", "application/json");
					xmlhttp.send();
			}

			function unixTimestampToDatetime(element, index, array){
				var date = new Date(element[0]*1000),
						hours = date.getHours(),
						minutes = "0" + date.getMinutes(),
						formattedTime = hours + ':' + minutes.substr(-2)
				element[0] = date;
				return element
			}

			function showErrors(element, index, array){
				if (element[1] == 0. && element[2] == 0.){
					element.push(5);
				}
				else{
					element.push(0);
				}
				return element;
			}

			function drawChart() {
				url = "http://go-faster.devfest.com:8080/series/proy/data/conversions" +
					"field=time:unix" +
					"&field=upload_speed:mbit_s" +
					"&field=download_speed:mbit_s"

				var response = request("GET", url, function (body, isError) {
					if (isError){
						alert('There is an error');
					}
					else{
						var data = new google.visualization.DataTable();
						var response = JSON.parse(body).data;

						response.forEach(showErrors);
						response.forEach(unixTimestampToDatetime);

						//data.addColumn('string', 'Time');
						data.addColumn('datetime', 'Time');
						data.addColumn('number', 'Download Speed (bit/s)');
						data.addColumn('number', 'Upload Speed (bit/s)');
						data.addColumn('number', 'Expected Download Speed');
						data.addColumn('number', 'Expected Upload Speed');
						data.addColumn('number', 'Error');
						//data.addColumn({type:'string',role:'annotation'});

						data.addRows(response);

						// Chart options
						var options = {
							width : 1200,
							height : 600,
							fontSize: 18,
							fontName: "Georgia",
							titlePosition: 'none',
							vAxis: {title: 'Rate Mbit/s'},
							hAxis: {title: 'Time'},
							seriesType: 'line',
							series: {4: {type: 'area'}},
							legend:{position: 'bottom', textStyle: {fontSize: 20}},
							vAxis: { gridlines: { count: 4 }},
							hAxis: { gridlines: { count: 0 }},
							colors: ["#1F77B4", "#AEC7E8", "#FF7F0E", "#FFBB78", "#2CA02C"],
						};

						var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
						chart.draw(data, options);
					}
					});
	}
		</script>
	</head>

	<body>

		<h1>Internet speed</h1>
		<div class="container">
			<div class="col-md-4 center">
				<div id="chart_div"></div>
			</div>
		</div>

	</body>
</html>
